    body {
      display: flex;
      justify-content: center; 
      align-items: center; 
      background-image: url('images/Transporte.jpg'); 
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      margin: 0;
      padding: 0;
      height: 100vh; 
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px; /* Bordes redondeados */
      text-align: center; /* Centra el contenido horizontalmente */
    }

    .container h1 {
      color: #333; /* Color de texto */
      font-size: 24px; /* Tamaño de fuente */
      margin: 0 0 20px; /* Margen inferior para separar elementos */
    }

    .container h2 {
      font-size: 18px; /* Tamaño de fuente */
      margin: 20px 0; /* Margen superior e inferior para separar elementos */
    }

    .container a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 16px;
      margin-top: 20px; /* Espacio superior para separar del párrafo anterior */
    }

    .container a:hover {
      background-color: #0056b3;
    }


    .logo {
      text-align: center;
      margin-bottom: 20px;
    }

    h1 {
      color: #333;
    }

    #barcode {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    #updateUserIdsButton {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    #updateUserIdsButton:hover {
      background-color: #0056b3;
    }

    /* Estilos para el botón de Logout */
  #logoutButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Efecto de transición de color al pasar el mouse */
  }

  #logoutButton:hover {
    background-color: #ff0000; /* Cambia el color de fondo al pasar el mouse */
  }
